body {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #29B6F6;
    overflow: hidden;
    margin:0;
    padding:0;
}
#title-bar {
    display: grid;
    grid-template-columns: repeat(3, auto);
    position: fixed;
    height: 40px;
    width: 100%;
    left: 0px;
    top: 0px;
    background: #254053;
    -webkit-app-region: drag;
}
#title-bar__controls {
    display: grid;
    grid-template-columns: repeat(2, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    -webkit-app-region: no-drag;
}
.title-bar__button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #387994;
}
#minimize-button {
    grid-column: 1;
}
#close-button {
    grid-column: 2;
}
#title-bar__title {
    display: flex;
    grid-column: 2;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    background: #387994;
    align-items: center;
    justify-content: center;
}
main {
    padding: 40px 40px;
    display: grid;
    grid-template-rows: 1fr 9fr;
    background: #aaaaaa;
    height: 100%;
    width: 100%;
}
#input-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px 40px;
}
#points-panel{
    font-size: 8rem;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    animation-name: shaker;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
}
@keyframes shaker {
 0% {
  transform: translate(0px, 0px) rotate(0deg);
  opacity: 0.8;
 }
 10% {
  transform: translate(10px, 7px) rotate(-9deg);
  opacity: 0.6;
 }
 20% {
  transform: translate(13px, -19px) rotate(-3deg);
  opacity: 0.3;
 }
 30% {
  transform: translate(-6px, -6px) rotate(2deg);
  opacity: 0.4;
 }
 40% {
  transform: translate(-9px, -18px) rotate(-5deg);
  opacity: 0.4;
 }
 50% {
  transform: translate(10px, -8px) rotate(5deg);
  opacity: 0.7;
 }
 60% {
  transform: translate(-10px, 14px) rotate(-6deg);
  opacity: 1;
 }
 70% {
  transform: translate(10px, 3px) rotate(6deg);
  opacity: 0.1;
 }
 80% {
  transform: translate(-2px, 20px) rotate(-6deg);
  opacity: 1;
 }
 90% {
  transform: translate(-7px, -19px) rotate(2deg);
  opacity: 0.5;
 }
}


.task-input:focus {
    border: 4px #123123 solid;
}

#task-input__points-container {
    width: 10%;
}
.task-input.ui.input {
    width: 10%;
}

#task-submit-btn{
    margin: 10px 10px;
}
*:focus {
    outline: none;
}

#main-panels {
    overflow-y: auto;
}