body {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #29B6F6;
    overflow: hidden;
    margin:0;
    padding:0;
}
#title-bar {
    display: grid;
    grid-template-columns: repeat(3, auto);
    position: fixed;
    height: 40px;
    width: 100%;
    left: 0px;
    top: 0px;
    background: rgb(31, 31, 31);
    -webkit-app-region: drag;
}
#title-bar__controls {
    display: grid;
    grid-template-columns: repeat(2, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    -webkit-app-region: no-drag;
    color: white;
}
.title-bar__button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(31, 31, 31);
    color: white;
}
#minimize-button {
    grid-column: 1;
}
#close-button {
    grid-column: 2;
}
#title-bar__title {
    display: flex;
    grid-column: 2;
    margin-left: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    background: #387994;
    align-items: center;
    justify-content: center;
    background: rgb(31, 31, 31);
    color: white;
}
main {
    padding: 40px 40px;
    display: grid;
    grid-template-rows: 1fr 9fr;
    background: #727070;
    height: 100%;
    width: 100%;
}

#top-bar__settings {
    position: absolute;
    padding: 5px;
    margin-top: 20px;
}

#top-bar__input-bar {
    flex: 3;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px auto 10px 13%;
}

.task-input {
    margin: 0px 1px;
}

.task-input:focus {
    border: 4px #123123 solid;
}

.task-input.task.ui.search.dropdown {
    min-width: 35%;
    width: 250%;
    max-width: 250%;
}
.task-input.ui.search.dropdown {
    font-size: 14px;
    min-width: 20%;
    width: 120%;
    max-width: 120%;
    max-height: 20%;
}
#task-input__points-container {
    width: 15%;
}

#add-tag__color {
    margin: 10px auto auto -5px;
    width: 100%;
}
#add-tag__preview.ui.label {
    max-width: 20%;
    margin: 10px auto auto 42%;
}

#task-submit-btn{
    margin: 10px 10px;
}
*:focus {
    outline: none;
}

#main-panels {
    overflow-y: auto;
    height: 375px;
}

.panel.card{
    color: black !important;
    background-color: white !important;
}

.panel.card.card--small {
    height: 135px;
}

.panel.content {
    text-align: center;
}
.panel.label {
    margin: 3px 1px;
    opacity: 0.8;
}
.ui.tags.horizontal.label {
    margin-bottom: 5px;
}
/*To stop animation in progress bar*/
.ui.active.progress .bar::after {
    min-width: 2px;
    animation: none;
    -webkit-animation: none;
}
.footer.bar.points.display {
    min-width: 1px;
}

#footer-progress {
    margin: 35px -25px auto -25px;
}